# kaizen-be Environment Variables

# Server Port
PORT=4000

# PostgreSQL Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kaizen_db?schema=public"

# JWT Token Secret Key
JWT_SECRET="kaizen_super_secret_jwt_key_2026"
